<html>
    <body>
        <form action="/forgotPassword" method="POST">
            <label>
                <input name="email" type="email" placeholder="Enter your mail">
                <button type="submit">Submit</button>
            </label>
        </form>
    </body>
</html>