<html>
    <body>
        <form action="/resetPassword" method="POST">
            <label>
                <input type="password" name="password" placeholder="Enter new passqord"/>
                <button type="submit">Reset Password</button>
            </label>
        </form>
    </body>
</html>