<html>
    <body>
        <form action="/signup" method="POST">
            <label>
                <input name="username" type="text" placeholder="Enter your username">
                <input name="email" type="email" placeholder="Enter your mail">
                <input name="password" type="password" placeholder="Enter your password">
                <button type="submit">Submit</button>
            </label>
        </form>
    </body>
</html>